@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Climate+Crisis&family=Gemunu+Libre:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Righteous&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --primary-color: #f7f7ff;
    --secundary-color: #e5e5e5;
    --text-color: #1b1b1b;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    position: relative;
    background-color: var(--primary-color);
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
}
h1{
    font-family: 'Changa One';
    letter-spacing: 2px;
    font-size: 5em;
    text-align: center;
    color: var(--text-color);
    background: linear-gradient(to right, #3c096c,#5a189a, #ff9e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
    
}

.pesquisa{
    position: relative;
    min-width: 30em;
    height: 4em;
    background: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
}
.material-symbols-outlined{
    scale: 1.5;
    color: var(--text-color);
}
span#filter{
    scale: 1.2;
    background-color: var(--primary-color);
    margin-left: 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: none;
    outline: none;
    font-size: 1.1em;
    padding: 0.3em 1em;
    border-radius: 5px;
    background-color: var(--primary-color)
}
input::placeholder{
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: var(--text-color);
    font-size: 0.9em;
    text-align: center;
}

div.opcoes{
    position: absolute;
    top: 76px;
    right: -33px;
    min-width: 200px;
    min-height: 150px;
    background-color: var(--secundary-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    opacity: 0;
    border: 1px solid var(--primary-color);
}

div.opcoes::before{

    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-color: var(--secundary-color);
    top: -12px;
    transform: translateX(550%);
    clip-path: polygon(0 0, 50% 100%, 100% 0);

}
div.opcoes > ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}
div.opcoes > ul > li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    gap: 5px;
    border-left: 3px solid var(--text-color);
    padding-left: 5px;
    font-weight: 500;

}
div.opcoes.active{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

section{
    
    position: relative;
    min-width: 95vw;
    background-color: var(--secundary-color);
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    border-radius: 20px;
    
}
.wrapper-table{
    position: relative;
    min-width: 95%;
    max-height: 50vh;
    overflow-y: scroll;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(to top, transparent, rgba(0,0,0, 1) 20%);
    mask-image: linear-gradient(to top, transparent, rgba(0,0,0, 1) 20%);
}

.wrapper-table::-webkit-scrollbar{
    width: 10px;  
}

.wrapper-table::-webkit-scrollbar-track {
    background: transparent;
    
}

.wrapper-table::-webkit-scrollbar-thumb {
    background-color: #bfc0c0;
    border-radius: 15px;
    cursor: pointer;
}
.wrapper-table::-webkit-scrollbar-thumb:hover {
    
    background-color: #2d3142;
    /* background: linear-gradient(to bottom, #3c096c,#5a189a, #ff9e00); */
    border-radius: 15px;
    opacity: 0.1;
    cursor: pointer;
}

table{
    min-width: 250px;
    padding: 2em;
    background-color: var(--primary-color);
    border-spacing: 10px;
    border-radius: 5px;
    box-shadow: 0px 11px 16px -4px rgba(30,30,60,0.25);   
    
    
}


table thead tr th{
    height: 50px;
    font-size: 1.1em;
    text-align: start;    
    width: 25%;
}
table tbody tr td:first-child{
    padding-left: 10px;
    border-left: 4px solid #000;
}

td{
    height: 40px;
}


